<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.kevin.trello.board.mapper.BoardMapper">
    <resultMap id="BoardResultMap" type="org.kevin.trello.board.model.Board">
        <id property="boardId" column="board_id"/>
        <result property="name" column="name"/>
        <result property="ownerUid" column="owner_uid"/>
        <result property="visibility"
                column="visibility"
                typeHandler="org.kevin.trello.board.mapper.typeHandler.BoardVisibilityTypeHandler"
        />
        <result property="deletedFlag" column="deleted_flag"/>
    </resultMap>

    <sql id="BoardColumns">
        board_id, name, owner_uid, visibility, deleted_flag
    </sql>

    <select id="findBoardById" resultMap="BoardResultMap">
        SELECT <include refid="BoardColumns"/>
        FROM boards
        WHERE board_id = #{boardId}
    </select>

    <insert id="insertBoard" parameterType="org.kevin.trello.board.mapper.query.BoardInsertQuery">
        INSERT INTO boards
        (<include refid="BoardColumns"/>)
        VALUES
        (#{boardId}, #{name}, #{ownerUid}, #{visibility}, #{deletedFlag})
    </insert>
</mapper>