<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.kevin.trello.board.mapper.TaskMapper">
    <resultMap id="TaskResultMap" type="org.kevin.trello.board.model.Task">
        <id property="taskId" column="task_id"/>
        <result property="listId" column="list_id"/>
        <result property="finished" column="finished" />
        <result property="position" column="position"/>
        <result property="title" column="title"/>
        <result property="description" column="description"/>
        <result property="date" column="date"/>
        <result property="creatorId" column="creator_id"/>
        <result property="archived" column="archived"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

    <sql id="TaskColumns">
        task_id, list_id, finished, position, title, description, date, creator_id, archived, created_at, updated_at
    </sql>

    <select id="findByTaskId" resultMap="TaskResultMap">
        SELECT <include refid="TaskColumns"/>
        FROM tasks
        WHERE task_id = #{taskId} AND archived = false
    </select>

    <select id="search" resultMap="TaskResultMap" parameterType="org.kevin.trello.board.mapper.query.TaskSearchQuery">
        SELECT <include refid="TaskColumns"/>
        FROM tasks
        <where>
            <if test="listId != null">
                AND list_id = #{listId}
            </if>
            <if test="isFinished != null">
                AND finished = #{isFinished}
            </if>
            <if test="startWith != null and startWith != ''">
                AND startWith LIKE CONCAT('%', #{startWith}, '%')
            </if>
            <if test="creator != null">
                AND creator_id = #{creator}
            </if>
        </where>
        ORDER BY position ASC
    </select>

    <update id="updateByTaskId">
        UPDATE tasks
        <set>
            <if test="listId != null">list_id = #{listId},</if>
            <if test="finished != null">finished = #{finished},</if>
            <if test="position != null">position = #{position},</if>
            <if test="title != null">title = #{title},</if>
            <if test="description != null">description = #{description},</if>
            <if test="date != null">date = #{date},</if>
            <if test="archived != null">archived = #{archived},</if>
        </set>
        <where>
            task_id = #{taskId}
        </where>
    </update>

    <insert id="insert">
        INSERT INTO tasks (task_id, title, creator_id, list_id, position)
        VALUES (#{taskId}, #{title}, #{creatorId}, #{listId}, #{position})
    </insert>
</mapper>